<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="POST" action="/webhook/">
      <textarea name="text" rows="4" cols="40">テキトーに</textarea>
      <input type="submit" value="送信" />     
  </body>
</html>
